body {
    font-family: 'Amatic SC', cursive;
    background-image: url("Imagens/background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
    margin: 0px;
}

.container {
    border: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    color: white;
    align-items: center;
    justify-content: center;
    
}
.foto {
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    align-items: stretch;
    
}

.main {  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descricao { 
    font-size: 40px;
    line-height: 1;
    border: 0px;
    text-shadow: 0.1em 0.1em 0.2em #EF5331;
}

.texto {
    padding: 15px;
}

h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 70px;
    line-height: 0;
}

.menu {
    display: flex;
    list-style-type: none;
}

a {
    font-style: none;
    font-weight: bold;
    color: white;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    padding-top: 19px;
    line-height: 1.2;
}
.bio {
    font-size: 28px;
}

@media (min-width: 768px){
    .foto {
        width: 250px;
        border-radius: 50%;
    }
    a:hover {
        background: #ffffff; 
        color: #000;
    }
    .descricao { 
        font-size: 40px;
        line-height: 1;
        border: 0px;
        text-shadow: 0.1em 0.1em 0.2em #EF5331;
        display: flex;
    }
}

@media (max-width: 400px){
    .descricao { 
        font-size: 28px; 
    }
    h1 {
        font-size: 50px;
    }
    a {
        font-size: 15px;
    }
    .bio {
        font-size: 18;
    }

}
